body {
  background-color: #f5f7fa;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: white;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* my-content */
.main-content-section {
  padding: 100px 90px 100px 90px;
}
.myTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
  margin: 0 0 10px 0;
}
/* about me section */
.about-me-section {
  margin: 0 0 40px 0;
}
.about-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 20px 0;
  color: black;
}
.myName-section {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: black;
  margin: 0 0 25px 0;
}
.my-discription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}
/* section about my projects */
.about-projects-section {
  margin: 0 0 50px 0;
}
.my-projects-list {
  padding: 0 0 0 17px;
}
.myitem {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  width: 700px;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0 0 0 5px;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
}
/* about experiens section */
.manager,
.front-end {
  margin: 0 0 10px 0;
  width: 700px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.radliters {
  color: orange;
}
.comment {
  margin: 0 0 10px 0;
  width: 240px;
  color: #a8a8a8;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.flesh {
  font-style: normal;
  font-weight: bold;
  color: black;
}
.manager-list,
.front-end-list {
  padding: 0 0 0 20px;
}
.manager-item,
.front-end-item {
  color: red;
}
.manager-text,
.front-end-text {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 15px 0;
}
/* about education section */
.education-name {
  margin: 10px 0 0 0;
  color: orange;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.management-name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 10px 0 0 0;
}
.time-section {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0 0 0;
}
/* sidebar-section */
.photo {
  width: 370px;
  height: auto;
}
.sidebar-section {
  display: flex;
  flex-direction: column;
  width: 370px;
  background: #1e2939;
  color: white;
  padding: 40px 0px;
}

.my-contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 45px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

/* contacts-section */

.contact-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 5px;
}

.contact-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565f6b;
}

/* tech-sills-section */
.tech-skills-list {
  padding: 0 0 0 20px;
}

.tech-skills-item {
  color: #fb6d3a;
}

.tech-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
